@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* This code was made for mobile devices */
/*______________________________________ General layout ______________________________________*/

* {
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 16px;
}

body {
    background-color: hsl(204, 43%, 93%);
    display: grid;
    place-content: center; /* Grid items (there's just one: div.container) will be centralized within body */
}

main {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
    margin: 0 8%;
    border-radius: 10px;
    overflow: hidden; /* The default value for any div is visible, i.e., its content may be rendered outside its limits. 
    If you don't define this property as hidden, you can't make rounded corners, because its children div borders overflow it and are rendered instead of being hidden. */
}

main > * {
    padding: 7%;
    display: grid;
    grid-gap: 20px;
}

.join {
    background-color: white;
    grid-area: j;
}

.monthly {
    background-color: hsl(179, 62%, 43%);
    grid-area: m;
}

.why {
    background-color: hsla(179, 62%, 43%, 0.8);
    grid-area: w;
}

.price-information {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

/*______________________________________ Texts ______________________________________*/
h1 {
    font-size: 24px;
    color: hsl(179, 62%, 43%);
    font-weight: bold;
}

.yellow-text {
    color: hsl(71, 73%, 54%);
    font-weight: bold;
    font-size: 18px;
}

.gray-text {
    color: rgb(180, 180, 180);
    line-height: 1.75em;
}

h2 {
    color: white;
    font-size: 20px;
}

.price {
    font-size: 32px;
    font-weight: bold;
}

.per-month {
    opacity: 0.5;
}

a {
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    padding: .9em;
    font-style: bold;
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

a:hover {
    background-color: hsl(71, 61%, 53%);
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.4);
}

li {
    font-size: 14px;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.8);
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Changes for tablets and bigger screens */
@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template:
        "j j"
        "m w"
        / 1fr 1fr;
        width: 640px;
        margin: 0;
    }
    main > * {
        padding: 40px;
    }
}